<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <mat-card>
      <h1>Sign In</h1>
      <mat-form-field class="example-full-width">
        <p>Username</p>
        <input matInput [(ngModel)]="userData.username" name="username">
      </mat-form-field>      
      <mat-form-field class="example-full-width">
        <p>Password</p>
        <input matInput type="password" [(ngModel)]="userData.password" name="password">
      </mat-form-field>        
      <br/>
      <a color="primary" mdbWavesEffect routerLink="/register" >Sign Up</a>&nbsp;
      <a color="primary" mdbWavesEffect routerLink="/register" >Forget Password</a>
      <button mat-stroked-button mat-button class="pull-right" (click)="Post()">Enter</button>  
      <br/>
    </mat-card>
  </div>
  <div class="col-md-3"></div>
</div>    