<div class="row"  >
    <mat-toolbar style="z-index: 10" class="mat-elevation-z4">
        &nbsp;&nbsp;My App&nbsp;&nbsp;
      <div class="col-md-4">        
          <button mat-button routerLink="/master">{{navbarData.master}}</button>
          <button mat-button routerLink="/detail">{{navbarData.detail}}</button>
          <button mat-button routerLink="/schedule">Schedule</button>
        </div>
        <div class="col-md-4">
          <menu-left></menu-left>
        </div>
        <div class="col-md-offset-4">        
          <menu-right></menu-right>
      </div>
          
    </mat-toolbar>
</div>
