<h1 mat-dialog-title>{{navbarData.fieldmodallabeladdfield}}</h1>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Fill out your name</ng-template>
    <mat-form-field class="example-full-width">
            <input matInput placeholder="Full Name" [(ngModel)]="fieldData.fullname" name="fullname" >
    </mat-form-field>
    <br/>    
       <input type="file"       
       id="uploadPicture"
       class="hidden-input"
       accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg"
       (change)="onSelectFile($event)"
       multiple="multiple"
       >
    <br/>
    <br/>
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </div>
</mat-step>
<mat-step [stepControl]="secondFormGroup">
    
      <ng-template matStepLabel>Fill out your address</ng-template>        
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Title" [(ngModel)]="fieldData.title" name="title" ></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Description" [(ngModel)]="fieldData.description" name="description"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Order" [(ngModel)]="fieldData.order" name="order"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Sequence" [(ngModel)]="fieldData.sequence" name="sequence"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Header" [(ngModel)]="fieldData.header" name="header"></textarea>
        </mat-form-field>        
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    
  </mat-step>
  <mat-step>
        <mat-form-field class="example-full-width" value="Category">        
                <mat-select [(ngModel)]="fieldData.category" name="category">
                  <mat-option value="Inmuebles en venta">Inmuebles en venta</mat-option>          
                  <mat-option value="Vehiculo">Vehiculo</mat-option>          
                  <mat-option value="Electronica">Electronica</mat-option>          
                </mat-select>
            </mat-form-field>        
            <mat-form-field class="example-full-width" value="Category">        
                <mat-select [(ngModel)]="fieldData.category2" name="category2">
                  <mat-option *ngIf="fieldData.category=='Inmuebles en venta'" value="Apartamentos">Apartamentos</mat-option>          
                  <mat-option *ngIf="fieldData.category=='Inmuebles en venta'" value="Casa">Casa</mat-option>          
                  <mat-option *ngIf="fieldData.category=='Vehiculo'" value="Carro">Carro</mat-option>          
                  <mat-option *ngIf="fieldData.category=='Vehiculo'" value="Jeepeta">Jeepeta</mat-option>          
                  <mat-option *ngIf="fieldData.category=='Electronica'" value="Celulares y Tabletas">Celulares y Tabletas</mat-option>          
                  <mat-option *ngIf="fieldData.category=='Electronica'" value="Computadoras y Laptop">Computadoras y Laptop</mat-option>          
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" value="Make">        
                <mat-select [(ngModel)]="fieldData.make" name="make">
                        <mat-option value="Acura">Acura</mat-option>
                        <mat-option value="Alfa Romeo">Alfa Romeo</mat-option>
                        <mat-option value="Audi">Audi</mat-option>
                        <mat-option value="Bentley">Bentley</mat-option>
                        <mat-option value="Bmw">Bmw</mat-option>
                        <mat-option value="Brilliance">Brilliance</mat-option>
                        <mat-option value="Buick">Buick</mat-option>
                        <mat-option value="Byd">Byd</mat-option>
                        <mat-option value="Cadillac">Cadillac</mat-option>
                        <mat-option value="Chana">Chana</mat-option>
                        <mat-option value="Changan">Changan</mat-option>
                        <mat-option value="Changfeng">Changfeng</mat-option>
                        <mat-option value="Changhe">Changhe</mat-option>
                        <mat-option value="Chery">Chery</mat-option>
                        <mat-option value="Chevrolet">Chevrolet</mat-option>
                        <mat-option value="Chrysler">Chrysler</mat-option>
                        <mat-option value="Citroën">Citroën</mat-option>
                        <mat-option value="Corvette">Corvette</mat-option>
                        <mat-option value="Daewoo">Daewoo</mat-option>
                        <mat-option value="Daihatsu">Daihatsu</mat-option>
                        <mat-option value="Datsun">Datsun</mat-option>
                        <mat-option value="Dodge">Dodge</mat-option>
                        <mat-option value="Dongfeng">Dongfeng</mat-option>
                        <mat-option value="Ferrari">Ferrari</mat-option>
                        <mat-option value="Fiat">Fiat</mat-option>
                        <mat-option value="Ford">Ford</mat-option>
                        <mat-option value="Foton">Foton</mat-option>
                        <mat-option value="Gmc">Gmc</mat-option>
                        <mat-option value="Honda">Honda</mat-option>
                        <mat-option value="Huanghai">Huanghai</mat-option>
                        <mat-option value="Hummer">Hummer</mat-option>
                        <mat-option value="Hyundai">Hyundai</mat-option>
                        <mat-option value="Infiniti">Infiniti</mat-option>
                        <mat-option value="Isuzu">Isuzu</mat-option>
                        <mat-option value="Jac">Jac</mat-option>
                        <mat-option value="Jaguar">Jaguar</mat-option>
                        <mat-option value="Jeep">Jeep</mat-option>
                        <mat-option value="Jinbei">Jinbei</mat-option>
                        <mat-option value="Kia">Kia</mat-option>
                        <mat-option value="Land Rover">Land Rover</mat-option>
                        <mat-option value="Lexus">Lexus</mat-option>
                        <mat-option value="Lincoln">Lincoln</mat-option>
                        <mat-option value="Luxgen">Luxgen</mat-option>
                        <mat-option value="Maserati">Maserati</mat-option>
                        <mat-option value="Mazda">Mazda</mat-option>
                        <mat-option value="Mercedes">Mercedes</mat-option>
                        <mat-option value="Mercury">Mercury</mat-option>
                        <mat-option value="Mg">Mg</mat-option>
                        <mat-option value="Mini">Mini</mat-option>
                        <mat-option value="Mitsubishi">Mitsubishi</mat-option>
                        <mat-option value="Nissan">Nissan</mat-option>
                        <mat-option value="Oldsmobile">Oldsmobile</mat-option>
                        <mat-option value="Opel">Opel</mat-option>
                        <mat-option value="Otra">Otra</mat-option>
                        <mat-option value="Peugeot">Peugeot</mat-option>
                        <mat-option value="Plymouth">Plymouth</mat-option>
                        <mat-option value="Pontiac">Pontiac</mat-option>
                        <mat-option value="Porsche">Porsche</mat-option>
                        <mat-option value="Proton">Proton</mat-option>
                        <mat-option value="Renault">Renault</mat-option>
                        <mat-option value="Saturn">Saturn</mat-option>
                        <mat-option value="Seat">Seat</mat-option>
                        <mat-option value="Skoda">Skoda</mat-option>
                        <mat-option value="Smart">Smart</mat-option>
                        <mat-option value="Ssangyong">Ssangyong</mat-option>
                        <mat-option value="Subaru">Subaru</mat-option>
                        <mat-option value="Suzuki">Suzuki</mat-option>
                        <mat-option value="Tianma">Tianma</mat-option>
                        <mat-option value="Toyota">Toyota</mat-option>
                        <mat-option value="Volkswagen">Volkswagen</mat-option>
                        <mat-option value="Volvo">Volvo</mat-option>
                                        </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" value="model">        
                <mat-select [(ngModel)]="fieldData.model" name="model">
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Accord">Accord</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Capa">Capa</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="City">City</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Civic">Civic</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Crosstour">Crosstour</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Crv">Crv</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Element">Element</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Fit">Fit</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Insight">Insight</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Integra">Integra</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Legend">Legend</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Logo">Logo</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Odyssey">Odyssey</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Otro">Otro</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Passport">Passport</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Pilot">Pilot</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="Ridgeline">Ridgeline</mat-option>
                        <mat-option *ngIf="fieldData.make=='Honda'" value="S2000">S2000</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="4 Runner">4 Runner</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="86">86</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Altezza">Altezza</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Avalon">Avalon</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Avensis">Avensis</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Camry">Camry</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Celica">Celica</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Corolla">Corolla</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Corona">Corona</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Cressida">Cressida</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Crown">Crown</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Duet">Duet</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Echo">Echo</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Fj Cruiser">Fj Cruiser</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Fortuner">Fortuner</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Highlander">Highlander</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Hilux">Hilux</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Land Cruiser">Land Cruiser</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Land Cruiser Prado">Land Cruiser Prado</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Matrix">Matrix</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Mr2">Mr2</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Otro">Otro</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Passo">Passo</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Platz">Platz</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Prius">Prius</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Ractis">Ractis</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Rav-4">Rav-4</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Scion">Scion</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Sequoia">Sequoia</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Solara">Solara</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Starlet">Starlet</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Supra">Supra</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Tacoma">Tacoma</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Townace">Townace</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Tundra">Tundra</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Venza">Venza</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Vitz">Vitz</mat-option>
                        <mat-option *ngIf="fieldData.make=='Toyota'" value="Yaris">Yaris</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Bronco">Bronco</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Econoline">Econoline</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Ecosport">Ecosport</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Edge">Edge</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Escape">Escape</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Everest">Everest</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Expedition">Expedition</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Explorer">Explorer</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Five Hundred">Five Hundred</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Flex">Flex</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Focus">Focus</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Freestar">Freestar</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Freestyle">Freestyle</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Fusion">Fusion</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Grand Marquis">Grand Marquis</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Mondeo">Mondeo</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Mustang">Mustang</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Otro">Otro</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Ranger">Ranger</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Serie E">Serie E</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Serie F">Serie F</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Sport Trac">Sport Trac</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Taurus">Taurus</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Transit">Transit</mat-option>
                        <mat-option *ngIf="fieldData.make=='Ford'" value="Windstar">Windstar</mat-option>
                        <mat-option *ngIf="fieldData.make=='Chrysler'" value="300">300</mat-option>
                        <mat-option *ngIf="fieldData.make=='Chrysler'" value="Caravan">Caravan</mat-option>
                        <mat-option *ngIf="fieldData.make=='Chrysler'" value="Concorde">Concorde</mat-option>
                        <mat-option *ngIf="fieldData.make=='Chrysler'" value="Otro">Otro</mat-option>
                        <mat-option *ngIf="fieldData.make=='Chrysler'" value="Pacifica">Pacifica</mat-option>
                        <mat-option *ngIf="fieldData.make=='Chrysler'" value="Sebring">Sebring</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Accent">Accent</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Atos">Atos</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Avante">Avante</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Azera">Azera</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Centennial">Centennial</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Elantra">Elantra</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Galloper">Galloper</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Genesis">Genesis</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Getz">Getz</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Grandeur">Grandeur</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="H-1">H-1</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="I.10">I.10</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="I.30">I.30</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Matrix">Matrix</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Otro">Otro</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Santa Fe">Santa Fe</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Sonata">Sonata</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Starex">Starex</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Terracan">Terracan</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Tiburón">Tiburón</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Trajet">Trajet</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Tucson">Tucson</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Veloster">Veloster</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Veracruz">Veracruz</mat-option>
                        <mat-option *ngIf="fieldData.make=='Hyundai'" value="Xg">Xg</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Aerio">Aerio</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Alto">Alto</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Apv">Apv</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Baleno">Baleno</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Celerio">Celerio</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Equator">Equator</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Escudo">Escudo</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Forenza">Forenza</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Grand Vitara">Grand Vitara</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Jimny">Jimny</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Kisachi">Kisachi</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Otro">Otro</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Reno">Reno</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="S-Cross">S-Cross</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Samurai">Samurai</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Sidekick">Sidekick</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Splash">Splash</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Swift">Swift</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Sx4 Hatchback">Sx4 Hatchback</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Sx4 Sedan">Sx4 Sedan</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Sx4 Suv Awd">Sx4 Suv Awd</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Vitara">Vitara</mat-option>
                        <mat-option *ngIf="fieldData.make=='Suzuki'" value="Xl-7">Xl-7</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="350-Z">350-Z</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="370-Z">370-Z</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Ad Van">Ad Van</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Ad Wagon">Ad Wagon</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Almera">Almera</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Altima">Altima</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Caravan">Caravan</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Cube">Cube</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="D21">D21</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="D22">D22</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Frontier">Frontier</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Gt-R">Gt-R</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Juke">Juke</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="March">March</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Maxima">Maxima</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Murano">Murano</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Navara">Navara</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Note">Note</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Otro">Otro</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Pathfinder">Pathfinder</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Patrol">Patrol</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Platina">Platina</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Primera">Primera</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Qashqai">Qashqai</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Quest">Quest</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Regulus">Regulus</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Rogue">Rogue</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Sentra">Sentra</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Skyline">Skyline</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Sunny">Sunny</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Teana">Teana</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Terrano">Terrano</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Tiida">Tiida</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Vanette">Vanette</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="Versa">Versa</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="X-Terra">X-Terra</mat-option>
                        <mat-option *ngIf="fieldData.make=='Nissan'" value="X-Trail">X-Trail</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Boon">Boon</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Charade">Charade</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Charman">Charman</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Cuore">Cuore</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Extol">Extol</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Hijet">Hijet</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Materia">Materia</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Mira">Mira</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Move">Move</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Otro">Otro</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Sirion">Sirion</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Storia">Storia</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Terios">Terios</mat-option>
                        <mat-option *ngIf="fieldData.make=='Daihatsu'" value="Yrv">Yrv</mat-option>
                                                                                                
                </mat-select>
            </mat-form-field>
      <ng-template matStepLabel>Done</ng-template>
      <mat-form-field class="example-full-width">
          <textarea matInput placeholder="From" [(ngModel)]="fieldData.from" name="from" ></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Price" [(ngModel)]="fieldData.price" name="price" type="number" ></textarea>
    </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Area" [(ngModel)]="fieldData.area" name="area" type="number" ></textarea>
    </mat-form-field>
      <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button [mat-dialog-close]="fieldData.description" (click)="stepper.reset();onClick()">Save</button>
      </div>    
  </mat-step>
</mat-horizontal-stepper>    